:root {
    --background_body: rgb(22, 22, 22);
    --background_nav_y_aside: rgb(39, 39, 39);
    --scrollbar: rgb(113, 0, 0);
    --titulos_playlist: rgba(255, 0, 0, 0.676);
    --etiquetas-hover: rgb(62, 62, 62);
  
  }
  
  * {
    padding: 0;
    margin: 0;
  
  }
  
  body {
    width: auto;
    height: auto;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    display: grid;
    background-color: var(--background_body);
    grid-template-areas:
    "nav"
    "main"
    "footer";
    /* gap: 15px; */
    text-align: center;
  
  }
  
  .nav {
    grid-area: nav;
    background-color: var(--background_nav_y_aside);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 97vw;
    z-index: 1;
  }
  


  
  .youclone__menu{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -5px;

  
  }
  
  .logo {
    width: 50px;
  }
  
  
  .search{
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .search input {
    height: 2vh;
    width:37vw;
    border: 1px solid rgba(254, 254, 254, 0.356);
    background-color: var(--background_body);
  
    color: #FFFFFF;
    margin-right: 5px;
    font-size: 0.7rem;
  }
  
   .search-btn {
    width: 20px;
    height: 2.2vh;
    border-radius: 5px;
    border: 1px solid rgba(254, 254, 254, 0.356);
    color: white;
    background-color: var(--background_body);
    margin-left: -5px;
  }
  
  
  .search-btn:hover{
    background-color: var(--etiquetas-hover);
  
  }
  
  
  nav .material-symbols-outlined{
    font-size:15px;
    color: white;
    align-items: center;
    margin: 0.3vh;
  
  }
  .user-icons{
    margin-right: 10px;
    color: white;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  


  .main {
    width: 100%;
    height: 100%;
    grid-area: main;
  
    display: grid;
    grid-template-areas:
      "section"
      "section"
      "section"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "article"
      "lista-de-reproduccion"
      ;

    gap: 10px;
  }



   
  .section {
    width: 100%;
    height: 100%;
    grid-area: section;
    display: row;
    grid-template-areas: 
    "publicidad-1 publicidad-2 etiquetas";
    margin-top: 7vh;
  
  }
  
  .article {
    width: 100%;
    height: 100%;
    grid-area: article;
  
    display: table-column;
    grid-template-areas:

      /* "video-1 video-2 video-3 video-4 video-5 video-6 video-7 video-8 video-9 video-10 video-11 video-12" */


      "video-1"
      "video-2"
      "video-3"
      "video-4"
      "video-5"
      "video-6"
      "video-7"
      "video-8"
      "video-9"
      "video-10"
      "video-11"
      "video-12" 

      ;
  }
  
  
  .lista-de-reproduccion {
    grid-area: lista-de-reproduccion;
    text-align: left;
    align-items: center;
    padding-top: 0px;
    color: rgb(255, 255, 255);
    width: auto;
    height: 12vh;
    position: fixed;
    bottom: -6vh;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
    background-color: var(--background_nav_y_aside) ;
  }

  .lista-de-reproduccion > * {
    margin-left: -5px;
    align-items: center;
    text-align: center;

  }
 .lista-de-reproduccion hr{
    display: none 
  }


  
  .lista-de-reproduccion div p {
    padding: 0px 5px 10px 3px;
    font-size: 0.6rem;
    
  }
  
  .lista-de-reproduccion > * {
    display:inline-block;
    padding-left: 10px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;

  }
  
  .lista-de-reproduccion > *:hover:not(h3, hr,.footer-ayuda) {
    background-color: rgb(138, 138, 138);
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .lista-de-reproduccion span {
    margin: 5px;
    padding-left: 10px;
    color: red;
    font-size: 23px;
  }








  
  .footer-ayuda{
    display: table;
    padding-left: 20px;
  }
  .footer-ayuda p {
    font-size: 13px;
    padding: 50px 20px 10px 0px;
    color: rgba(255, 255, 255, 0.761);
  }
  
  .publicidad-1,
  .publicidad-2 {
    grid-area: publicidad-1, publicidad-2;
    background-color: rgba(0, 208, 255, 0.826);
    width: auto;
    height: 108px;
    display: grid;
    margin-bottom: 20px;

    /* border: 10px solid red; */
  }
  
  /* .publicidad-2 {
    grid-area: publicidad-2;
    background-color: rgba(0, 208, 255, 0.536);
    width: 333px;
    height: 108px;
  } */
  
  .publicidad-1 img,
  .publicidad-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .publicidad-1:hover,
  .publicidad-2 :hover {
    transform: 0.9;
    box-sizing: border-box;
    border: 4px solid var(--titulos_playlist);
  }
  
  .etiquetas {
    grid-area: etiquetas;
    background-color: transparent;
    /* height: 150px; */
    width: auto;
    height: auto;

  }
  
  .etiquetas h1 {
    text-align: center;
    font-size: 0.76rem;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  
  .etiquetas p {
    margin: 3px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    display: inline-table;
    object-fit: contain;
    text-align: center;
    font-size: 0.8rem;
    padding: 8px;
  }
  
  .etiquetas p:hover {
    background-color: var(--etiquetas-hover);
    cursor: pointer;
    transition: 0.2s;
  }
  .section {
    justify-content: space-between;
  }
  
.article{
     width:auto;
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
}

  .article > *:not(div h4) {
    
    background-color: transparent;
    /* margin-bottom: 3vh; */
  }

  
  .article div {
    /* margin-bottom: 30px; */
    width:300px;
    height: auto; 

  }
  
  .article div:hover {
    transform: scale(1.1);
    background-color: var(--background_nav_y_aside)
    ;
  
  }
  
  .article div h4 {
    color: white;
    font-size: 14px;
  }
  
iframe{
    width: auto;
    height: auto;
}

  .video-1 {
    grid-area: video-1;
    background-color: rgb(0, 255, 153);
  }
  
  .video-2 {
    grid-area: video-2;
    background-color: rgb(0, 255, 153);
  }
  
  .video-3 {
    grid-area: video-3;
    background-color: rgb(0, 255, 153);
  }
  
  .video-4 {
    grid-area: video-4;
    background-color: rgb(0, 255, 153);
  }
  
  .video-5 {
    grid-area: video-5;
    background-color: rgb(0, 255, 153);
  }
  
  .video-6 {
    grid-area: video-6;
    background-color: rgb(0, 255, 153);
  }
  
  .video-7 {
    grid-area: video-7;
    background-color: rgb(0, 255, 153);
  }
  
  .video-8 {
    grid-area: video-8;
    background-color: rgb(0, 255, 153);
  }
  
  .video-9 {
    grid-area: video-9;
    background-color: rgb(0, 255, 153);
  }
  
  .video-10 {
    grid-area: video-10;
    background-color: rgb(0, 255, 153);
  }
  
  .video-11 {
    grid-area: video-11;
    background-color: rgb(0, 255, 153);
  }
  
  .video-12 {
    grid-area: video-12;
    background-color: rgb(0, 255, 153);
  }
  
  .footer {
    grid-area: footer;
    background-color: rgb(39, 39, 39);
  }
  
   .footer > * {
    color: white;
background-color: black;
padding-bottom: 7vh;
font-size: 0.8rem;
padding-top: 1vh;
text-decoration: center;

  }
   