
  .logo {
    width: 130px;
    }
    
    .search input {
      height: 4.5vh;
      width:30vw;
    }
    
    .search-btn {
      width: 50px;
      height: 40px;
    }
    
    nav .material-symbols-outlined{
      font-size:25px;
    }
    
    .user-icons{
      margin-right: 5%;
      gap:10%;
    }
    
    .etiquetas h1 {
      font-size: 18px;
      padding: 10px;
    }
    
    .etiquetas p {
      font-size: 1rem;
    } 
    
    .section {
      width: 100%;
      height: auto;
      grid-area: section;
      display: grid;
      grid-template-areas: 
      "publicidad-1 publicidad-2 "
      "etiquetas etiquetas";
    }
    

  
  .publicidad-1,
  .publicidad-2 {
    width: 350px;
    height: 125px;
    margin: auto;
    margin-top: 20px;
  }
  

  iframe{
    width: 250px;
    height: auto;

}

.article div h4 {
  color: white;
  font-size: 14px;
}

.article > *:not(div h4) {
  width: 250px;
  height: 190px;
  padding-bottom: 10px;
}